*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}
body{
    overflow: hidden;
}
:root{
    ---azul-principal:#005288;
    ---fundo-janela:#ccc;
}

.menuPrincipal{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
    width: 240px;
    height: 100vh;
}
.ocultar{
    left: -190px !important;
    transition: all .2s;
}
.fprincipal{
   
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.menuItens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    height: 100%;
}
.btn_menuPrincipal{
    cursor: pointer;
    width: 30px;
    
}
.btn_menuPrincipal img{
    width: inherit;
    
}
.btn_menuItem{
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px;
    width: 150px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background-color: var(---azul-principal);
    text-align: center;
    color: #fff;

  
}
/* Formatação de Grids */
.areaGrid{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    
}
.grid{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulogrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(---azul-principal);
    color: #fff;
    padding: 1px;

}
.colunaTituloGrid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.dadosgrid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.linhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1px;
}
.linhaGrid:nth-child(even){
    background-color: #fff;
}
.linhaGrid:nth-child(odd){
    background-color: #ddd;
}
.linhaGrid:hover{
    background-color: #0ac !important;
    color: #fff !important;

}
.colunaLinhaGrid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.topojanela{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 10px 0px;
}
.btn_mainoper{
    background-color: var(---azul-principal);
    border-radius: 50px;
    cursor: pointer;
    width: 40px;
}
/* fim */

/* Novo colaborador */
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    /* transition: all 0.3s; */
}
.titulopopup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: var(---azul-principal);
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    width: 100%;

}
.corpopopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(---fundo-janela);
    width: 100%;
    padding: 5px;
}
.rodapepopup{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(---azul-principal);
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    width: 100%;
}
.btn_janelaoper{
    width: 30px;
    cursor: pointer;
}
.Janelapopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
}
.btn_comandopopup{
    background-color: rgb(3, 19, 53);
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
}
.campoForm{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    
}
.campoForm2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    padding: 2px;
    border-radius: 5px;

    
}
.campoForm input, .campoForm select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 5px;
    width: 100%;
}
/* .campoForm div{
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #fff;
  
    margin-bottom: 5px;
} */
.campoForm label{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-weight: bolder;
    font-size: 12pt;
}
.ocultarPopup{
    display: none !important;
   
}
.telefones{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
}
.tel{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 5px;

}
.Numtel{
    background-color: #888;
    border-radius: 5px 0px 0px 5px;
    width: 100px;
    padding: 5px;

}
.delTel{
    background-color: #f88 !important;
    padding: 5px;
    border: 5px;
    border-radius: 0px 5px 5px 0px !important;
    width: 19px !important;
    cursor: pointer;

}
.icone_op{
    width: 25px;
    cursor: pointer;
}


/* **************** */